domain-needed
bogus-priv
interface=eth0
no-dhcp-interface=eth0
cname=*.{{ domain }},{{ groups['dmz'][0] }}.{{ domain }}
{% for mail_server in groups['mail-server'] %}
mx-host={{ domain }},{{ mail_server }}.{{ domain }},10
mx-host={{ groups['dmz'][0] }}.{{ domain }},{{ mail_server }}.{{ domain }},10
mx-host={{ mail_server }}.{{ domain }},{{ mail_server }}.{{ domain }},10
{% endfor %}
auth-server={{ inventory_hostname }}.{{ domain }},eth0
auth-zone={{ domain }}
auth-soa=1
txt-record={{ domain }},v=spf1 mx -all
txt-record={{ domain }},google-site-verification=YgVdDXBG8fHI6HMjO0y1DhwHsMDycBzCvfNE7QyClGA
txt-record=mail._domainkey.{{ domain }},"v=DKIM1; k=rsa; ","p={{ dkim_public_key }}"
txt-record=_dmarc.{{ domain }},v=DMARC1; p=quarantine;
{% for mail_server in groups['mail-server'] %}
txt-record={{mail_server}}.{{ domain }},v=spf1 mx -all
txt-record=mail._domainkey.{{ mail_server }}.{{ domain }},"v=DKIM1; k=rsa; g=*;","p={{ dkim_public_key }}"
txt-record=_dmarc.{{ mail_server }}.{{ domain }},v=DMARC1; p=quarantine;
{% endfor %}
